name: Pull Request Checks

on:
  pull_request:
    branches: [ main, master ]

permissions:
  contents: read
  security-events: write
  actions: read
  pull-requests: write

jobs:
  quality-checks:
    name: Quality Checks
    uses: ./.github/workflows/build-test-quality.yaml
    secrets:
      NVD_API_KEY: ${{ secrets.NVD_API_KEY }}